.appbar {
  box-shadow: 0px 0px 5px #55555526;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0; //10px 0px;
  position: relative;
  min-height: 3.123rem; //50px
  width: 100%;
  margin-left: 0;

  .appbar__left-panel {
    padding-left: 0.9375rem; //15px
    .appbar__heading {
      margin-left: 20px;
      color: map-get($map: $text-color, $key: primary);
      font-weight: bold;
    }
  }
  .appbar__right-panel {
    padding-right: 0.9375rem; //15px
  }
  .appbar__menu {
    color: map-get($map: $text-color, $key: fade);
    cursor: pointer;
  }

  .appbar__left-panel,
  .appbar__right-panel {
    display: flex;
    align-items: center;
  }

  .appbar__brand-logo {
    height: 2.75rem; //44px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
  }

  .appbar__profile-menu-wrapper {
    display: flex;
    align-items: center;

    .down-arrow-icon {
      color: map-get($map: $text-color, $key: accent);
      cursor: pointer;
    }
  }

  .menu-icon {
    width: 20px;
    cursor: pointer;
    &::before,
    &::after,
    div {
      background: map-get($map: $text-color, $key: fade);
      content: "";
      display: block;
      height: 2px;
      border-radius: 3px;
      margin: 4px 0;
      transition: 0.5s;
    }
  }

  &.sidebar-open {
    width: calc(100% - #{$sidebar-width});
    margin-left: $sidebar-width;
    .menu-icon {
      div {
        transform: scale(0);
      }

      &::before {
        transform: translateY(6px) rotate(135deg);
      }
      &::after {
        transform: translateY(-6px) rotate(-135deg);
      }
    }
  }

  &.full-width {
    width: 100% !important;
    margin-left: 0;
    .menu-icon {
      display: none;
    }
    .appbar__brand-logo {
      display: block;
    }

    .appbar__left-panel {
      margin-left: $sidebar-width;
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
