.appbar {
  /*box-shadow: 0px 0px 5px #55555526;*/
  // display: none;
  display: inline-flex;
  justify-content: space-between;
  //background: map-get($map: $bg-color, $key: secondary-dark);
  // position: relative;
  min-height: 3.123rem; //50px
  width: 100%;
  margin-left: 0;
 
  //-webkit-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 0.2);
  //-moz-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 0.2);
  //box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 0.2);

  .appbar__left-panel {
    // padding-left: 0.9375rem; //15px
    // padding-left: calc(#{$sidebar-width} + 0.9375rem);
    position: relative;
    .appbar__heading {
      margin-left: 20px;
      color: map-get($map: $text-color, $key: primary);
      font-weight: bold;
    }

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      padding-left: 0.9375rem;
      .appbar__heading {
        display: none;
      }
      .appbar__brand-logo {
        transform: none;
        position: static;
        width: 95px;
        margin-left: 5px;
        margin-top: 3px;
      }
    }
  }
  .appbar__right-panel {
    padding: 0.625rem 0; //10px 0px;
    padding-right: 0.9375rem; //15px
    .appbar__tourGuide {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 10px;
      background: map-get($map: $bg-color, $key: secondary);
      text-align: center;
      margin-top: 2px;
      color: $white;
      border-radius: 4px;
      padding: 0.3rem 0.5rem 0.3rem 0.1rem;
      .tourText {
        font-size: 0.9rem;
      }
      &:hover {
        color: map-get($map: $text-color, $key: light);
        background: map-get($map: $bg-color, $key: accent);
      }
      @media (max-width: 768px) {
        margin-left: -12px;
      }
    }
  }
  .appbar__menu {
    color: map-get($map: $text-color, $key: fade);
    cursor: pointer;
  }

  .appbar__logo-wrapper {
    display: flex;
    align-items: center;
    width: $sidebar-width;
    height: 3rem;
    //border-right: 1px solid map-get($map: $text-color, $key: border);
    padding: 0.625rem 0; //10px 0px;
    -webkit-box-shadow: 1px 0px 3px 0px rgba(85, 85, 85, 0.25);
    -moz-box-shadow: 1px 0px 3px 0px rgba(85, 85, 85, 0.25);
    box-shadow: 1px 0px 3px 0px rgba(85, 85, 85, 0.25);
    //background: map-get($map: $bg-color, $key: primary);
    background: map-get($map: $bg-color, $key: primary);

    @media (max-width: 768px) {
      border: none;
      width: 100%;
      box-shadow: none;
      background: none;
    }
    .client-logo {
      width: 100%;

      &__icons {
        padding: 7px 15px 10px 10px;
        width: 80%;
        display: flex;
       
        #logo-primary-contrast {
          path {
            fill: $white;
          }
        }
        #logo {
          #Path_13556 {
            fill: $white;
          }
        }
        @media (max-width: 767px) {
          //width: auto;
          padding: 8px 11px 7px 3px;
        }
        svg{
          width: 88%;
        }
      }
    }
   
.home-icon {
   cursor: pointer;
    display: flex;
     width: 7%;
      color: $white !important;
     }
     @media (max-width: 767px) {
      width: auto;
    }

  }

  .appbar__left-panel,
  .appbar__right-panel {
    display: flex;
    align-items: center;
   
  }
  .appbar__left-panel{
    @media (max-width: 767px) {
        width: 65%;
        justify-content: flex-end;
     }
  }
  .appbar__right-panel{
    // @media (max-width: 767px) {
    //   width: 20%;
    // }
  }

  .appbar__brand-logo {
    height: 2.75rem; //44px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    // display: none;
  }

  .appbar__profile-menu-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: map-get($map: $text-color, $key: primary);

    .down-arrow-icon {
      color: $white;
      // cursor: pointer;
    }
  }

  .menu-icon {
    width: 20px;
    cursor: pointer;
    margin-left: 0.9375rem;
    padding: 0.625rem 0; //10px 0px;
    &::before,
    &::after,
    div {
      background: map-get($map: $text-color, $key: primary);
      content: '';
      display: block;
      height: 2px;
      border-radius: 3px;
      margin: 4px 0;
      transition: 0.5s;
    }
    @media (max-width: 768px) {
      margin-right: 0.9375rem;
      margin-left: 0;
    }
  }

  &.sidebar-open {
    // width: calc(100% - #{$sidebar-width});
    // margin-left: $sidebar-width;

    @media (min-width: 769px) {
      .menu-icon {
        div {
          transform: scale(0);
        }

        &::before {
          transform: translateY(6px) rotate(135deg);
        }
        &::after {
          transform: translateY(-6px) rotate(-135deg);
        }
      }
    }
  }

  &.full-width {
    width: 100% !important;
    margin-left: 0;
    .menu-icon {
      display: none;
    }
    .appbar__brand-logo {
      display: block;
    }

    // .appbar__left-panel {
    //   margin-left: $sidebar-width;
    // }
  }

  @media (max-width: 768px) {
    //width: 50% !important;
    //margin-left: 0 !important;
    .mobile-sidebar-open {
      .menu-icon {
        div {
          transform: scale(0);
        }

        &::before {
          transform: translateY(6px) rotate(135deg);
        }
        &::after {
          transform: translateY(-6px) rotate(-135deg);
        }
      }
    }
  }
}
.appbar__menu {
  border-radius: 0;
  border: 1px solid map-get($map: $text-color, $key: border);

  ul {
    padding: 0;
  }

  .appbar__menu-item {
    display: flex;
    align-items: center;
    font-size: map-get($map: $text-size, $key: small);
    border-bottom: 1px solid map-get($map: $text-color, $key: border);

    // &:nth-child(2),
    // &:nth-child(3),
    // &:nth-child(4) {
    //   display: none;
    // }

    &:last-child {
      border-bottom: none;
    }
    svg {
      margin-right: 10px;
    }

    &.profile {
      //background-color: map-get($map: $bg-color, $key: "secondary-dark");
      font-size: map-get($map: $text-color, $key: primary);
      font-weight: 700;
      opacity: 1;
    }
  }
}
