.button-group {
  align-items: flex-end;
  flex-wrap: nowrap;
  button {
    &.MuiButtonBase-root {
      padding: 0;
      min-width: 0;
      margin: 0 5px;
    }
    &.active {
      svg {
        path {
          fill: map-get($map: $text-color, $key: accent);
        }
      }
    }
  }

  .button-group__group-title {
    font-size: map-get($map: $text-size, $key: small);
    color: map-get($map: $text-color, $key: primary);
    min-width: fit-content;
  }
}
