.button-group {
  align-items: flex-end;
  flex-wrap: nowrap;
  button {
    &.MuiButtonBase-root {
      min-width: 0;
      width: 25px;
      height: 25px;

      padding: 0px;
      margin: 0 5px;
    }
    &.active {
      &:not(.Mui-disabled) {
        color: map-get($map: $text-color, $key: accent);
        svg {
          path {
            fill: map-get($map: $text-color, $key: accent);
          }

          line {
            stroke: map-get($map: $text-color, $key: accent);
          }
        }
        border-color: map-get($map: $text-color, $key: accent);
      }
    }
  }

  .button-group__group-title {
    font-size: map-get($map: $text-size, $key: small);
    color: map-get($map: $text-color, $key: primary);
    // min-width: fit-content;
    flex: 1;
  }
}
