body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #070707;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.content-area {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  // height: calc(100vh - 100px);
  height: 100vh;
  background-color: map-get($map: $bg-color, $key: secondary-dark);
  &.sidebar-open {
    margin-left: $sidebar-width;
    margin-top: -6px;
  }

  @media (max-width: 768px) {
    margin-left: 0 !important;
  }
}

html {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.jVgtBk {
  padding: 40px !important;
}
