// Input Field
.input-field__label {
  color: map-get($map: $text-color, $key: primary);
  display: flex;
  align-items: center;

  svg {
    margin-left: 10px;
    font-size: map-get($map: $text-size, $key: regular);
    cursor: pointer;
    color: map-get($map: $bg-color, $key: dark);
  }
  .input-field__required-asteric {
    color: map-get($map: $text-color, $key: danger);
  }
}
.input-field__endontment-icon {
  cursor: pointer;
  font-size: map-get($map: $text-size, $key: regular);
  color: map-get($map: $text-color, $key: "primary");
  opacity: 0.8;
}
.MuiFormControl-root {
  width: 100%;
  margin: 15px 0;

  .MuiInputBase-input {
    background-color: map-get($map: $bg-color, $key: secondary-shade);
    height: 10px;
    padding: 15px;
  }
  .MuiFormHelperText-root {
    height: 15px;
    margin-left: 5px;
  }
}
.MuiInputBase-root {
  border: 1px solid map-get($map: $text-color, $key: border);

  &:hover,
  &.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid map-get($map: $text-color, $key: fade);
    }
  }

  &.Mui-error {
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid map-get($map: $text-color, $key: danger);
    }
  }
}

// Button
.MuiButtonBase-root {
  text-transform: none;
  &.button--primary {
    background-color: map-get($map: $bg-color, $key: accent);
    color: map-get($map: $text-color, $key: light);

    &:hover {
      background-color: map-get($map: $bg-color, $key: accent);
      color: map-get($map: $text-color, $key: light);
      opacity: 0.8;
    }
  }

  &.Mui-disabled {
    opacity: 0.7;
  }
}

// Backdrop full screen{
.MuiBackdrop-root.full-loader {
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
  svg {
    color: map-get($map: $text-color, $key: light);
  }
}

.MuiSwitch-root {
  height: 25px;
  width: 50px;
  border-radius: 100px;
  padding: 0;

  .MuiSwitch-switchBase {
    padding: 0.3125rem; //5px
    &.Mui-disabled,
    &.Mui-checked {
      color: map-get($map: $text-color, $key: light);
    }
    &.Mui-checked {
      transform: translateX(1.5625rem); //25px
    }
  }
}
.MuiSwitch-track {
  background-color: map-get($map: $bg-color, $key: dark);
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: map-get($map: $bg-color, $key: success);
  opacity: 1;
}
.MuiSwitch-colorSecondary.Mui-disabled + .MuiSwitch-track {
  opacity: 0.5;
}
.MuiSwitch-thumb {
  width: 1rem;
  height: 1rem;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: map-get($map: $bg-color, $key: accent);
}

.MuiCheckbox-root {
  &.Mui-checked {
    &:hover {
      background: none;
    }
  }
  &:hover {
    background: none;
  }
}

// Chip
.MuiChip-root {
  border-radius: 3px;
  border-color: map-get($map: $text-color, $key: radius);
  color: map-get($map: $text-color, $key: primary);
  margin: 3px;
  svg {
    width: map-get($map: $text-size, $key: regular);
    color: map-get($map: $text-color, $key: primary);
  }
}

// .highcharts-text-outline {
//   stroke: none !important;
//   fill: none !important;
// }
// .highcharts-data-label {
//   text {
//     fill: white !important;
//     font-weight: normal !important;
//   }
// }
