$text-size: (
  'xsmall': 0.75rem,
  // 11px
  'small': 0.875rem,
  // 14px
  'regular': 1rem,
  // 16px
  'large': 1.25rem,
  // 20px
  'xlarge': 1.5rem,
  // 24px
);
$heading-size: (
  'xsmall': 1.75rem,
  // 28px
  'small': 2rem,
  // 32px
  'regular': 2.5rem,
  // 40px
  'large': 3.5rem,
  // 56px
  'xlarge': 4.5rem,
  // 72px
  'giant': 5.5rem,
  // 88px
  'giant-large': 6rem,
  // 96px
);
$font-weight: (
  'bold': bold,
  'medium': 500,
);

$text-color: (
  'accent': #003366,
  'light': #fff,
  'partial-light': #dfdfdf,
  'primary': #e1e1e1,
  'primary-dark': #000,
  'primary-fade': #dfdfdf,
  'fade': #dfdfdf,
  'danger': red,
  'border': #dee2e6,
  'link': #491d40,
  'base-color': #878787,
);

$bg-color: (
  'accent': #0066cc,
  'primary': #001a33,
  'secondary': #003366,
  'secondary-shade': #fff,
  'white': #ffffff,
  'secondary-dark': #001a33,
  'secondary-light': #bebebe2e,
  'grayLight': #f7f7f7,
  'dark': #848484,
  'fade': #fff,
  'success': #78bf63,
  'info': #f1b202,
  'silver-chalice': #adadad,
);

$sidebar-width: 16.875rem; // 270px
$black: #000;
$white: #fff;
$box-color: #c9c9c9;
$filter-text-color: #343434;
$brand-color: #f1ad0f;
$border-color: #e1e3e7;

$breakpoints: (
  //https://css-tricks.com/approaches-media-queries-sass/ //My (Eduardo Bouças’s) technique
  phone: 640px,
  tablet: 768px,
  desktop: 1024px
);
