$text-size: (
  "xsmall": 0.6875rem,
  // 11px
  "small": 0.875rem,
  // 14px
  "regular": 1rem,
  // 16px
  "large": 1.25rem,
  // 20px
  "xlarge": 1.5rem,
  // 24px
);
$heading-size: (
  "xsmall": 1.75rem,
  // 28px
  "small": 2rem,
  // 32px
  "regular": 2.5rem,
  // 40px
  "large": 3.5rem,
  // 56px
  "xlarge": 4.5rem,
  // 72px
  "giant": 5.5rem,
  // 88px
  "giant-large": 6rem,
  // 96px
);
$font-weight: (
  "bold": bold,
  "medium": 500,
);

$text-color: (
  "accent": #f47c3c,
  "light": #ffffff,
  "primary": #343434,
  "fade": #a2a2a2,
  "danger": red,
  "border": #dee2e6,
  "link": #491d40,
);

$bg-color: (
  "accent": #f47c3c,
  "primary": #ffffff,
  "secondary": #dee2e6,
  "secondary-shade": #fbfbfb,
  "secondary-dark": #dedede80,
);
