.objectives {
  display: flex;

  &--container {
    svg {
      height: 100%;
      width: 100%;
    }
  }
  .container {
    &--left {
      flex: 70%;
      padding-left: 10px;
    }
    &--right {
      flex: 30%;
      background-color: #dfdfdf;
    }
  }
  &--content {
    display: flex;
    align-items: flex-start;
    svg {
      margin-right: -6px;
      z-index: 1;
      flex-basis: 70px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: -6px;
    }

    &--border {
      border-left: 1px solid lightgray;
    }

    &--text {
      padding-right: 5px;
      width: calc(100% - 151px);
      p {
        padding-left: 10px;
        margin-top: 2px;
        position: relative;
      }
      ul {
        li {
          list-style: none;
          & ::before {
            content: ' ';
            width: 0;
            height: 0;
            border-top: 10px solid #0000ff9c;
            border-left: 10px solid transparent;
            position: absolute;
            left: -10px;
            margin-top: 7px;
          }
        }
      }

      &--blue {
        color: #0193d5;
      }
    }
  }

  & * {
    box-sizing: border-box;
  }
}

b {
  font-size: 20px;
}
h2 {
  padding-left: 30px;
}

.carousal-section {
  width: 100%;
  .MuiGrid-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  .MuiGrid-item {
    width: 20%;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    &:last-child {
      border-right: none;
    }
  }
  .MuiPaper-elevation {
    max-width: 100%;
    width: 100%;
    min-width: 20%;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    box-shadow: -5px 3px 5px 0px #959595d9;
    background-color: #dbdada69;
  }
  .card-image {
    text-align: center;
    padding: 20px 20px 10px 20px;
    & svg {
      height: 80px;
    }
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2px;
  }
  .note-header {
    padding: 15px;
  }
  .note-subheader {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
  }
  .note-container {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid #e2e2e2;
    .MuiGrid-container {
      border-bottom: 1px solid #e2e2e2;
      .MuiGrid-item {
        border-right: 1px solid #e2e2e2;
        &:last-child {
          border-right: none;
        }
      }
    }
    .note-division {
      width: 225px;
      margin: 0 auto;
      text-align: left;

      .current-division {
        background: #2c93eb;
        color: white;
        padding: 5px;
        margin-bottom: 20px;
      }
      .future-division {
        background: violet;
        color: white;
        padding: 5px;
        margin-bottom: 20px;
      }
    }
  }
}
.css-1vioaa7-MuiPaper-root {
  height: 210px;
}


.nation-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 0 72px;
}
.nation-container__card{
  border: solid 1px #acacac;
  display: flex;
  padding: 10px 10px 3px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 14%;
}
.nation-container__left {
    flex: 0 0 auto;
    padding-right: 10px;
}
.nation-container__right {
  flex: 0 0 65%;
}
.nation-container__right b {
  color:#0193D5;
  font-size: 14px;
}
.nation-container__right p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
.nation-container__card{
  flex: auto;
  width: 100%;
}
.nation-container__left {
flex: 0 0 auto;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.nation-container__card {
    flex: 0 0 29%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .nation-container__card {
      flex: 0 0 35%;
  }
}