.static-switch-default,.static-switch-mean{
    font-size: map-get($map: $text-size, $key: "xsmall");
}
.static-switch-default{
    margin-right: 8px;
    //color: map-get($map: $text-color, $key: "partial-light");
}
.static-switch-mean{
    margin-left: 8px;
   // color: map-get($map: $text-color, $key: "partial-light");
}
.bold-text{
    font-weight: 800;
}