.user-avatar {
  border: 1px solid map-get($map: $text-color, $key: "light");
  span {
    color: map-get($map: $text-color, $key: "light");
  }
  .active {
    background-color: map-get($map: $bg-color, $key: success);
  }
  .in-active {
    background-color: map-get($map: $bg-color, $key: dark);
  }
  .pending {
    background-color: map-get($map: $bg-color, $key: info);
  }
}
