.user-avatar {
  border: 1px solid $white;
  span {
    color: $white;
  }
  .active {
    background-color: map-get($map: $bg-color, $key: success);
  }
  .in-active {
    background-color: map-get($map: $bg-color, $key: dark);
  }
  .pending {
    background-color: map-get($map: $bg-color, $key: info);
  }
}
