.TableView {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-top: 1px solid #e5e5e5;
}
.table-chart {
  border-top: 1px solid #e5e5e5;
  .table-chart__row {
    border: 1px solid #e5e5e5;
    border-top: none;
  }
}

.Table-header {
  display: none;
}
@media (min-width: 500px) {
  .Table-header {
    font-weight: 700;
  }
}
.Table-row {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-top: none;
  //color: $white;
  // color: map-get($map: $text-color, $key: 'primary-dark');
  &:nth-child(odd):not(:first-child) {
    background-color: rgb(190 190 190 / 18%);
    //background-color: map-get($map: $bg-color, $key: secondary-light);
  }
}
@media (min-width: 500px) {
  .Table-row {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
}
.Table-row-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 0.5em;
  word-break: break-word;
}

.Table-row .Table-row-item:nth-of-type(1) {
  flex-grow: 3;
}
.Table-row-item:before {
  content: attr(data-header);
  width: 30%;
  font-weight: 700;
}
@media (min-width: 500px) {
  .Table-row-item {
    padding: 0.5em;
  }
  .Table-row-item:before {
    content: none;
  }
}
.row-collection {
  height: 200px;
  overflow: auto;
  margin-right: -15px;
}

////// other option

.pl-table {
  .row {
    margin: 5px 0;
    padding: 0 20px;
    align-items: center;
  }
  .col {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pl-thead {
    color: #979797;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    margin: 15px 0;
    &.tall {
      background-color: #263338;
      margin: 0;
      padding: 5px 0;
      color: rgba(255, 255, 255, 0.7);
      text-transform: initial;
      .col {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        align-self: stretch;
        &:last-child {
          border: none;
        }
        .large {
          font-size: 21px;
          color: $white;
        }
      }
    }
  }
  .pl-tbody {
    .row {
      background-color: $white;
      padding-top: 7px;
      padding-bottom: 7px;
      color: #979797;
      font-size: 11px;
    }
    &.scroll {
      max-height: 100px;
      overflow-x: scroll;
    }
  }
}

.maxValue {
  background: #b8e08c;
  font-weight: 600;
  color: map-get($map: $text-color, $key: "primary-dark");
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.minValue {
  background-color: #ffb3a7;
  font-weight: 600;
  color: map-get($map: $text-color, $key: "primary-dark");
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.Set-mr-top {
  margin-top: -9px;
}
.Table-row-item.totalBold {
  font-weight: 600;
}
.topset {
  margin-top: -10px;
  background-color: map-get($map: $text-color, $key: "primary-fade");
}

.table-significante {
  padding-left: 5px;
  color: $significantTable;
  font-weight: normal;
}
.significant-lagend {
  color: $significantTable;
  text-align: right;
  margin: 0 0.5rem;
  width: 13%;
  margin-left: auto;
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  top: -12px;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 20%;
  }
  @media screen and (min-width: 1025px) and (max-width: 1366px) {
    width: 20%;
  }
  .significant-hedding {
    position: relative;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: $significantTable;
      position: absolute;
      left: -13px;
      top: 4px;
    }
  }
}
.significant-full-screen {
  z-index: 9;
  position: absolute;
  right: 33px;
  top: 10px;
}
