.rc-table {
  border: 1px solid map-get($map: $text-color, $key: border);
  .rc__header {
    display: flex;
    padding: 0 10px;

    > div {
      padding: 10px 0;
      flex: 1;
      font-size: map-get($map: $text-size, $key: small);
      color: map-get($map: $text-color, $key: primary);
      font-weight: bold;

      &.flex_auto {
        flex: auto;
      }
    }
    border-bottom: 1px solid map-get($map: $text-color, $key: border);
  }
  .table-action-icon {
    width: 15px;
    height: 15px;

    &.MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }
  }

  .rc__body {
    width: 100%;

    .rc__body-row {
      display: flex;
      padding: 0 10px;
      transition: background 0.3s linear;
      border-bottom: 1px solid map-get($map: $text-color, $key: border);
      &:nth-child(odd) {
        // background: $white-accent;
        &:hover {
          //   background: $bright;
        }
      }
      &:nth-child(even) {
        // background: $white;
        &:hover {
          //   background: $bright;
        }
      }

      > div {
        flex: 1;

        &.flex_auto {
          flex: auto;
        }
      }
    }

    .rc__body-cell {
      //   color: $black-pearl;
      font-size: 0.9em;
      padding: 10px 0;
      // max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 1025px) and (max-width: 1279px) {
        font-size: 0.7em;
      }
      @media (min-width: 1280px) and (max-width: 1365px) {
        font-size: 0.8em;
      }
      @media (min-width: 1366px) and (max-width: 1560px) {
        font-size: 0.8em;
      }
    }
  }

  .center-align {
    text-align: center;
  }
  .trackYVisible {
    .margin-remove {
      margin-right: -10px;
    }
  }

  .action-btn {
    margin-right: 15px;
    // &:last-child {
    //   margin-right: 0;
    // }
  }
}
