.custom-table {
  .custom-table__link-container {
    display: flex;
    li {
      list-style: none;

      &.selected {
        a {
          background-color: map-get($map: $bg-color, $key: "dark");
          color: map-get($map: $text-color, $key: "partial-light");
        }
      }
    }
    a {
      border: 1px solid map-get($map: $text-color, $key: border);
      padding: 5px 10px;
      min-width: 1.25rem; //20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .previous,
  .next {
    &.disabled {
      opacity: 0.7;
    }
  }
  .custom-table__filter-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .MuiSelect-select {
      padding-left: 00.3125rem;
    }
    .menu-item {
      font-size: map-get($map: $text-size, $key: small);
    }

    .label {
      @media (max-width: 768px) {
        margin-right: 20px !important;
      }
    }
  }
  .custom-table__paginate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-table__mobile-sort {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }

    .custom-table__sort {
      min-width: 5rem; //80px
    }
  }
  .custom-table__page-limiter {
    display: flex;
    align-items: center;

    .limiter-label {
      font-size: map-get($map: $text-size, $key: small);
      color: map-get($map: $text-color, $key: primary);
    }
  }
  .custom-table__search-wrapper {
    display: flex;
    align-items: center;
    .MuiFormControl-root {
      margin: 0;
    }
    input {
      padding: 10px;
      font-size: map-get($map: $text-size, $key: small);
      color: map-get($map: $text-color, $key: primary);
    }

    span:nth-child(2) {
      flex: 1;
    }
  }
  .custom-table__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .label {
      margin-right: 0.625rem;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      & > div {
        width: 100%;
      }
    }
  }

  .custom-table__limiter {
    width: 3.75rem;
  }
}

.rc-table {
  border: 1px solid map-get($map: $text-color, $key: border);
  .rc__header {
    display: flex;
    padding: 0 10px;
    background-color: map-get($map: $bg-color, $key: primary);
    > div {
      padding: 10px 0;
      flex: 1;
      font-size: map-get($map: $text-size, $key: small);
      font-weight: 800;
      color: map-get($map: $text-color, $key: "primary-fade");
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.flex_auto {
        flex: auto;
      }
    }
    border-bottom: 1px solid map-get($map: $text-color, $key: border);

    @media (max-width: 768px) {
      display: none;
    }
  }
  .table-action-icon {
    width: 15px;
    height: 15px;

    &.MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }
  }

  .rc__body {
    width: 100%;

    .rc__body-row {
      display: flex;
      padding: 0 10px;
      transition: background 0.3s linear;
      border-bottom: 1px solid map-get($map: $text-color, $key: border);
      align-items: center;
      min-height: 3.75rem; //60px;
      &:nth-child(odd) {
        background: map-get($map: $bg-color, $key: "fade");
      }
      &:nth-child(even) {
        background: map-get($map: $bg-color, $key: "primary");
      }

      > div {
        flex: 1;

        &.flex_auto {
          flex: auto;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .rc__body-cell {
      padding: 10px 0;
      font-size: map-get($map: $text-size, $key: small);
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      .cell-label {
        display: none;
      }

      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        width: 100%;
        padding: 5px;

        .cell-value {
          min-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 10px;
        }
        .cell-label {
          display: inline-block;
          font-weight: 700;
          margin-right: 15px;
        }
      }
    }
  }

  .center-align {
    text-align: center;
    justify-content: center !important;
  }
  .trackYVisible {
    .margin-remove {
      margin-right: -10px;
    }
  }

  .action-btn {
    margin-right: 15px;
    // &:last-child {
    //   margin-right: 0;
    // }
  }
}
.sort-icon-wrapper {
  font-size: map-get($map: $text-size, $key: small);
  color: map-get($map: $text-color, $key: fade);
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .asc-icon,
  .desc-icon {
    font-size: map-get($map: $text-size, $key: large);
  }
}
