.rc-table {
  .rc__header {
    display: flex;
    // margin-right: 10px;
    padding: 0 10px;

    > div {
      padding: 10px 0;
      flex: 1;
      //   color: $tb-heder-color;

      span {
        font-size: 0.9em;
        @media (min-width: 1025px) and (max-width: 1279px) {
          font-size: 0.8em !important;
        }
        @media (min-width: 1280px) and (max-width: 1365px) {
          font-size: 0.8em !important;
        }
        @media (min-width: 1366px) and (max-width: 1560px) {
          font-size: 0.9em !important;
        }
      }
      font-size: 0.9em;
      @media (min-width: 1025px) and (max-width: 1279px) {
        font-size: 0.8em !important;
      }
      @media (min-width: 1280px) and (max-width: 1365px) {
        font-size: 0.8em !important;
      }
      @media (min-width: 1366px) and (max-width: 1560px) {
        font-size: 0.9em !important;
      }

      &.flex_auto {
        flex: auto;
      }
    }

    font-weight: bold;
    // background-color: $gray-accent;
    .custom-cell {
      padding: 18px 15px;
      //   color: $sky-pearls;
      font-size: 1em;
      text-align: left;
      @media (min-width: 1025px) and (max-width: 1279px) {
        padding: 10px 15px;
        font-size: 0.8em;
      }
      @media (min-width: 1280px) and (max-width: 1365px) {
        padding: 10px 15px;
        font-size: 0.9em;
      }
      @media (min-width: 1366px) and (max-width: 1560px) {
        padding: 10px 15px;
        font-size: 0.9em;
      }
    }
  }
  .table-action-icon {
    width: 15px;
    height: 15px;

    &.MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }

    @media (min-width: 1025px) and (max-width: 1279px) {
      width: 10px;
      height: 10px;
    }
    @media (min-width: 1280px) and (max-width: 1365px) {
      width: 12px;
      height: 12px;
    }
    @media (min-width: 1366px) and (max-width: 1560px) {
      width: 15px;
      height: 15px;
    }
  }
  .rc__body {
    width: 100%;

    .rc__body-row {
      display: flex;
      padding: 0 10px;
      transition: background 0.3s linear;
      &:nth-child(odd) {
        // background: $white-accent;
        &:hover {
          //   background: $bright;
        }
      }
      &:nth-child(even) {
        // background: $white;
        &:hover {
          //   background: $bright;
        }
      }

      > div {
        flex: 1;

        &.flex_auto {
          flex: auto;
        }
      }
    }

    .rc__body-cell {
      //   color: $black-pearl;
      font-size: 0.9em;
      padding: 10px 0;
      // max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 1025px) and (max-width: 1279px) {
        font-size: 0.7em;
      }
      @media (min-width: 1280px) and (max-width: 1365px) {
        font-size: 0.8em;
      }
      @media (min-width: 1366px) and (max-width: 1560px) {
        font-size: 0.8em;
      }
    }
  }

  .center-align {
    text-align: center;
  }
  .trackYVisible {
    .margin-remove {
      margin-right: -10px;
    }
  }

  .action-btn {
    margin-right: 15px;
    // &:last-child {
    //   margin-right: 0;
    // }
  }
}
