.user-table {
  .user-table__body {
    height: calc(100vh - 345px);
  }

  .name {
    flex: 1.25 !important;
  }
  .email {
    flex: 1.5 !important;
  }
  .created-by {
    flex: 1.25 !important;
  }
  .is-admin {
    flex: 0.7 !important;
  }

  .active-status {
    flex: 0.7 !important;
  }
  .action {
    flex: 0.75 !important;
  }

  .action-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin: 0 5px;
      cursor: pointer;
    }
  }
}
