.change-password {
  form {
    width: 40%;
    padding: 12px;
  }
  height: 100%;
  background-position-x: right;
  background-position-y: center;
  overflow: hidden;
  @media (max-width: 768px) {
    form {
      width: 100%;
    }
    background: none;
  }
}
