.change-password {
  form {
    width: 40%;
  }
  height: 100%;
  background: url("../../assets/images/admin-add-bg.png") no-repeat;
  background-position-x: right;
  background-position-y: center;
  overflow: hidden;
  @media (max-width: 768px) {
    form {
      width: 100%;
    }
    background: none;
  }
}
