.public-form-screen {
  position: relative;
  @media only screen and (max-width: 960px) {
    .public-form-screen__form-area {
      flex-grow: 1;
      max-width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
    .public-banner__banner-area {
      display: none;
    }
  }
  .public-form-screen__brand-logo {
    position: absolute;
    top: 0.9375rem; //15px
    left: 0.9375rem; //15px
    width: 150px;
    @media only screen and (max-width: 960px) {
      top: 10px;
      left: 0px;
      margin: auto;
    }
  }

  .public-form {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    .public-form__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      @media only screen and (max-width: 960px) {
        width: 80%;
        // background: #f3f2f2;
        padding: 20px;
        border-radius: 5px;
      }
    }

    .public-form__heading {
      font-size: map-get($map: $heading-size, $key: small);
      font-weight: bold;
      margin-bottom: 2.5rem; //40px;
    }
  }

  .public-form__link {
    color: map-get($map: $text-color, $key: link);
    margin-top: 30px;
    text-decoration: none;
  }
}
.footerText {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: map-get($map: $text-size, $key: xsmall);
  width: 50%;
  @media only screen and (max-width: 960px) {
    width: 90%;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
}
