.public-form-screen {
  position: relative;
  .public-form-screen__brand-logo {
    position: absolute;
    top: 0.9375rem; //15px
    left: 0.9375rem; //15px
  }

  .public-form {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    .public-form__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
    }

    .public-form__heading {
      font-size: map-get($map: $heading-size, $key: small);
      font-weight: bold;
      margin-bottom: 2.5rem; //40px;
    }
  }

  .public-form__link {
    color: map-get($map: $text-color, $key: link);
    margin-top: 30px;
    text-decoration: none;
  }
}
.footerText{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: map-get($map: $text-size, $key:xsmall )
}