.public-form-screen {
  position: relative;
  background: url('../../assets/images/login_bg.png');
  background-size: 100% 100%;

  @media only screen and (max-width: 960px) {
    .public-form-screen__form-area {
      flex-grow: 1;
      max-width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
    .public-banner__banner-area {
      display: none;
    }
  }
  .public-form-screen__brand-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 150px;
    @media only screen and (max-width: 960px) {
      top: 10px;
      left: 0px;
      margin: auto;
    }
  }

  .public-form {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    .public-form__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      padding: 30px 40px 80px 40px;
      background: map-get($map: $bg-color, $key: 'white');
      border: 1px solid map-get($map: $bg-color, $key: #000);
      margin-right: 90px;
      .MuiInputBase-root {
        background: map-get($map: $bg-color, $key: secondary-shade);
      }
      .input-field__endontment-icon {
        color: map-get($map: $text-color, $key: primary-dark);
      }
      @media only screen and (max-width: 960px) {
        width: 80%;
        // background: #f3f2f2;
        margin-right: 0px;
        padding: 20px;
        border-radius: 5px;
      }
    }

    .public-form__heading {
      font-size: map-get($map: $heading-size, $key: small);
      // font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1.75rem; //40px;
      color: $hedding-color;
    }
    .forgot-password-hedding {
      font-size: 1.75rem;
    }
    .public-form__client-logo {
      text-align: center;
      padding-bottom: 2rem;
      margin: 0 auto;
    }
  }

  .public-form__link {
    color: $brand-color;
    margin-top: 30px;
    text-decoration: none;
  }
}
.footerText {
  position: absolute;
  bottom: 15px;
  font-size: map-get($map: $text-size, $key: xsmall);
  right: 15px;
  font-size: 0.75rem;
  width: 50%;
  text-align: right;
  color: $brand-color;
  @media only screen and (max-width: 960px) {
    width: 90%;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
}
