.user-cache-custom-popup{
  .MuiBackdrop-root{
    background-color: transparent !important;
  }
 .user-cache-hedding{
  padding: 20px 80px 40px;
  font-size: 18px;
 } 
 .btn-group{
  justify-content: center;
  padding-bottom: 20px;
  >button{
    font-size: 12px;
  }
 }
}