.allpdfhighcharts {
  height: 830px;
  overflow: scroll;
  position: fixed;
  top: 191px;
  left: 0%;
  width: 75%;
  z-index: 999999999;
  display: block;
  padding: 15px;
  background-color: #fff;
}
