.loader--wrapper {
  height: 100%;
  width: 100%;
  background: $white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  padding: 0px;
  width: 160px;
  margin-top: -50px;
  margin-left: -70px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
  box-sizing: border-box;
}
@keyframes loading {
  0% {
    background-color: #323c4e;
  }

  30% {
    background-color: #f1ad0f;
  }
  50% {
    height: 100px;
    margin-top: 0px;
  }

  80% {
    background-color: #f1ad0f;
  }

  100% {
    background-color: #323c4e;
  }
}

@mixin inner() {
  height: 10px;
  width: 30px;
  background-color: map-get($map: $bg-color, $key: 'info');
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
@mixin loading() {
  @for $i from 1 through 10 {
    .loading-#{$i} {
      @include inner();
      -webkit-animation-delay: $i/4 + s;
      animation-delay: $i/4 + s;
    }
  }
}
.loading {
  @include loading();
}
