.chart-content {
  .mr-button.MuiGrid-container {
    background: map-get($map: $bg-color, $key: secondary);
    padding: 0px 10px;
    width: 100%;
    @media (max-width: 1023px) {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      //margin-left: -4px;
    }
  }
  .questioSelection {
    padding: 0px 12px;
  }
  .MuiInputBase-input.Mui-disabled {
    opacity: 0.6;
  }
  .chart-content__control-wrapper {
    display: flex;
    align-items: center;
    padding: 0.4rem 0px;
    @media (max-width: 960px) {
      display: none;
    }
  }

  .export-chart-group {
    justify-content: flex-end;
  }

  .chart-content__chart-wrapper {
    width: calc(100% - 24px);
    height: calc(100vh - 275px);
    background: map-get($map: $bg-color, $key: "white");
    padding: 20px 15px;
    border: map-get($map: $bg-color, $key: "white");
    border-radius: 3px;
    box-sizing: border-box;
    margin: 8px 12px;
    border: 1px solid $border-color;
    @media (max-width: 767px) {
      margin: 15px 5px 15px 0px;
      width: 100%;
      height: 100%;
      //height: calc(100vh - 396px);
      //height: auto
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin: 15px 5px 10px 8px;
    }
    .highcharts-background {
      fill: transparent;
    }
  }

  .chart-content__chart-wrapper-table {
    background: map-get($map: $bg-color, $key: "secondary-shade");
  }
  .wave-button {
    height: 30px;
    font-size: map-get($map: $text-size, $key: xsmall);
    width: 117px;
    margin: 3px;
    margin-bottom: 15px;
  }
  .chart-content-footer {
    display: flex;
    width: calc(100% - -33px);
    margin-left: -14px;
    margin-top: 30px;
    justify-content: space-between;
    &--inr {
      width: 90%;
      @media (max-width: 768px) {
       padding-left: 20px;
      }
    }
    @media (max-width: 768px) {
     margin-top: 0 !important;
    
    }
  }

  .chart-content__base-count {
    font-size: map-get($map: $text-size, $key: small);
    color: map-get($map: $text-color, $key: "base-color");
    display: block;
  }

  .chart-content__info {
    font-size: map-get($map: $text-size, $key: xsmall);
    font-style: italic;
    color: map-get($map: $text-color, $key: "base-color");
    margin-top: 1px;
  }
  .title__Block {
    display: flex;
    .appbar__heading {
      color: map-get($map: $text-color, $key: primary);
      font-weight: 500;
      display: grid;
      margin-right: 0.5rem;
      padding-top: 2px;
      font-size: 17px;
    }
    .appbar__tourGuide {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: map-get($map: $bg-color, $key: grayLight);
      text-align: center;
      color: map-get($map: $text-color, $key: primary);
      border-radius: 4px;
      padding: 0.2rem 0.4rem 0.2rem 0.1rem;
      margin-top: 2px;
      height: 20px;
      .MuiSvgIcon-root {
        font-size: 15px;
      }
      .tourText {
        font-size: map-get($map: $text-size, $key: xsmall);
      }
      &:hover {
        color: #fff;
        background: #f47c3c;
      }

      @media (max-width: 786px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
     margin-left: 5px;
    }
  }

  .button-group {
    flex-direction: unset;
    .MuiGrid-root {
      .button.MuiButtonBase-root {
        margin: 0px 5px 0px;
      }
    }
    .button-group__group-title {
      min-width: fit-content;
      padding-right: 7px;
      padding-top: 2px;
    }
  }

  .menu-icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-right: 0.5375rem;
    float: left;
    padding: 0.24rem;
    border: 1px solid map-get($map: $text-color, $key: fade);
    border-radius: 50%;
    &::before,
    &::after,
    div {
      background: map-get($map: $text-color, $key: fade);
      content: "";
      display: block;
      height: 1px;
      border-radius: 3px;
      margin: 3px 2px;
      transition: 0.5s;
    }
  }

  &.sidebar-open {
    @media (min-width: 769px) {
      .menu-icon {
        div {
          transform: scale(0);
        }

        &::before {
          transform: translateY(6px) rotate(135deg);
        }
        &::after {
          transform: translateY(-6px) rotate(-135deg);
        }
      }
    }
  }

  &.full-width {
    width: 100% !important;
    margin-left: 0;
    .menu-icon {
      display: none;
    }
    .appbar__brand-logo {
      display: block;
    }
  }
  &__control-item:not(:last-child) {
    border-right: 2px solid map-get($map: $bg-color, $key: silver-chalice);
    border-radius: 1px;
    padding-right: 10px;
    margin-right: 10px;
  }

  & .chart-wrapper--loading {
    background: map-get($map: $bg-color, $key: secondary-dark);
    position: relative;
  }

  & .noQuestion--selected {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.orientation-control {
  .active {
    &:not(.Mui-disabled) {
      svg {
        fill: map-get($map: $bg-color, $key: accent);
        g {
          fill: map-get($map: $bg-color, $key: accent);
        }
      }
    }
  }
}

.chart-option-tooltip {
  display: none;

  @media (max-width: 960px) {
    display: block;
    color: $white;
  }
}

.md-space-4 {
  padding-right: 12px;
  box-sizing: border-box;
}
.chart-content__control-menu {
  background: map-get($map: $bg-color, $key: "secondary");
}
.cursor-pointer {
  cursor: pointer;
}

.mean-switch {
  display: flex;
  align-items: center;
}