.chart-content {
  .mr-top{
    margin-top: 10px;
  }
  .mr-button{
    margin-bottom: 10px;
  }
  .chart-content__control-wrapper {
    display: flex;
    align-items: center;
  }

  .export-chart-group {
    justify-content: flex-end;
  }

  .button-group {
    margin: 0 10px;
    min-width: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .chart-content__chart-wrapper {
    margin-top: 15px;
  }
  .wave-button {
    height: 30px;
    font-size: map-get($map: $text-size, $key: xsmall);
    width: 117px;
    margin: 3px;
    margin-bottom: 15px;
  }
}
.orientation-control {
  .active {
    svg {
      g {
        stroke: map-get($map: $text-color, $key: accent);
      }
    }
  }
}
