.home-screen {
  .home-screen__content {
    height: calc(100vh - 83px);
    background-color: map-get($map: $bg-color, $key: "secondary-shade");
    img {
      max-width: 100%;
    }
  }
}
.home-modal {
  display: flex;
  justify-content: center;
  position: relative;
  // max-height: 80vh;
  align-items: center;
  // width: 80%;
  &:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MuiPaper-root {
    max-width: 90%;
    width: 80%;
    min-width: 80vw;
  }

  .home-modal__close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999999;
    cursor: pointer;
  }
}

.home-modal__content {
  height: 80vh;
}
