.home-screen {
  .home-screen__content {
    height: calc(100vh - 83px);
    background-color: map-get($map: $bg-color, $key: "secondary-shade");
  }
}
.home-modal {
  display: flex;
  justify-content: center;
  max-height: 80vh;
  align-items: center;
  &:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MuiPaper-root {
    width: 80%;
  }
}
