.profile-avatar {
  display: inline-block;
  border: 1px solid map-get($map: $text-color, $key: accent);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

  span {
    color: map-get($map: $text-color, $key: accent);
    font-weight: bold;
  }
}
