.add-user {
  form {
    width: 40%;
    padding: 12px;
  }
  height: 100%;
  background-position-x: right;
  background-position-y: 6rem;
  background-size: 42%;
  overflow: hidden;

  @media (max-width: 768px) {
    form {
      width: 93%;
    }
    background: none;
  }
}
.is-admin {
  color: map-get($map: $text-color, $key: light);
  .MuiCheckbox-root {
    color: map-get($map: $text-color, $key: light);
  }
  .MuiSvgIcon-root {
    color: map-get($map: $text-color, $key: light);
  }
}
