.chapter--drop-dwon {
  > div {
    z-index: 999;
  }

  .custom-dropdown {
    box-sizing: border-box;
    min-width: 300px;
    width: 300px;
    background: rgba(255, 255, 255, 0.78);
    color: #000;
    border: 1px solid $drop-button-color;
    padding: 10px;
    text-align: left;
    font-size: 11px;
    line-height: 1.2;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin-left: 12px;
  }
  ul {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0;
    min-width: 300px;
    width: 300px;
    background: map-get($map: $bg-color, $key: "secondary-shade");
    color: map-get($map: $bg-color, $key: "primary");
    overflow: auto;
    outline: 0px;
    font-size: 11px;
  }
  ul li {
    cursor: pointer;
    list-style: none;
    padding: 8px;
    cursor: poinetr;
    border-bottom: 1px solid $drop-down-color;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:last-of-type {
      border-bottom: none;
    }
    .css-1oq6cg.Mui-selected {
      background-color: $light-blue-color;
      color: $white;
    }
  }
}
