.chart-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chart-sidebar__filter-wrapper {
    height: calc(100% - 80px);
  }
  .chart-sidebar__filter-questions {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .MuiFormControl-root {
      width: 95%;
    }
    .MuiInput-input {
      background: map-get($map: $bg-color, $key: secondary-shade);
      border-radius: 2px;
      border: none;
    }
    .MuiInputBase-root {
      border: none;
    }
  }
  .chart-sidebar__filter-questions {
    @media (max-width: 767px) {
      color: #dfdfdf;
    }
    em {
      font-style: initial;
    }
  }
  .chart-sidebar__footer {
    padding: 15px;
    @media (max-width: 767px) {
    }
    .MuiButton-label {
      color: map-get($map: $text-color, $key: primary);
      color: #fff;
    }
    .button--primary {
      color: map-get($map: $text-color, $key: light);
    }

    .clear-button {
      margin-left: 15px;
    }
  }

  .multi-select {
    label {
      overflow-x: hidden;
    }
  }
}

.fullscreen--dialog .tableView {
  margin-top: 50px;
}
