.chart-sidebar {
  .chart-sidebar__filter-wrapper {
    height: calc(100vh - 200px);
  }
  .chart-sidebar__filter-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px);
    padding-right: 15px;

    .MuiFormControl-root {
      width: 95%;
    }
  }
}
