.chart-sidebar {
  .chart-sidebar__filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

<<<<<<< HEAD
    .MuiFormControl-root{
=======
    .MuiFormControl-root {
>>>>>>> 478763e92802b8b097f78d915a56a35c4fe9b01c
      width: 95%;
    }
  }
}
