.chart-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chart-sidebar__filter-wrapper {
    height: calc(100% - 80px);
  }
  .chart-sidebar__filter-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;

    .MuiFormControl-root {
      width: 95%;
    }
  }

  .chart-sidebar__footer {
    padding: 15px;
  }
}
