.chart-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chart-sidebar__filter-wrapper {
    height: calc(100% - 80px);
  }
  .chart-sidebar__filter-questions {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .MuiFormControl-root {
      width: 95%;
    }
  }
  .chart-sidebar__filter-questions {
    em {
      font-style: initial;
    }
  }
  .chart-sidebar__footer {
    padding: 15px;

    .clear-button {
      margin-left: 15px;
    }
  }

  .multi-select {
    label {
      overflow-x: hidden;
    }
  }
}
