.public-banner {
  height: 100vh;
  background-color: map-get($map: $bg-color, $key: accent);
  display: flex;
  align-items: center;

  .public-banner__title {
    font-size: map-get($map: $heading-size, $key: giant);
    color: map-get($map: $text-color, $key: light);
    margin-left: 35px;
  }
}
