.sidebar {
  .sidebar__drawer-paper {
    width: 230px;
  }

  .sidebar__header {
    padding: 10px;
    border-bottom: 1px solid map-get($map: $text-color, $key: border);
    display: flex;
    align-items: center;

    svg {
      height: 2.5rem; //40px;
    }
  }

  .sidebar__label {
    background-color: map-get($map: $bg-color, $key: "secondary-dark");
    padding: 8px 10px;
    font-weight: bold;
  }
}
