.drawer {
  width: $sidebar-width;
  flex-shrink: 0;
  white-space: nowrap;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  @media (max-width: 767px) {
    background: map-get($map: $bg-color, $key: primary);
    color: #dfdfdf;
  }

  &.drawer--close {
    width: 0;
    overflow-x: hidden;
  }

  &.drawer--desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }
  &.drawer--mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}
.sidebar__brand {
  // display: flex;
  display: none;
  align-items: center;
  max-height: 70px;
  padding-left: 15px;
  .sidebar__brand-logo {
    // width: 70px;
    height: 70px;
  }

  .sidebar__brand-label {
    color: map-get($map: $text-color, $key: accent);
    font-weight: bold;
    // font-size: map-get($map: $heading-size, $key: "extra-medium");
  }
}

.sidebar__header {
  padding: 10px;
  border-bottom: 1px solid map-get($map: $text-color, $key: border);
  display: flex;
  align-items: center;

  svg {
    height: 2.5rem; //40px;
  }
}

.sidebar__label {
  background-color: map-get($map: $bg-color, $key: 'secondary');
  padding: 8px 10px;
  font-weight: 500;
  @media (max-width: 767px) {
    color: #dfdfdf;
  }
}

.sidebar {
  .MuiDrawer-paper {
    height: 100vh;
    height: calc(100vh - 68px);
    margin-top: 68px;
    //-webkit-box-shadow: 2px 5px 4px 0px rgba(85, 85, 85, 0.2);
    //-moz-box-shadow: 2px 5px 4px 0px rgba(85, 85, 85, 0.2);
    //box-shadow: 2px 5px 4px 0px rgba(85, 85, 85, 0.2);
    background: map-get($map: $bg-color, $key: primary);
    color: #dfdfdf;
  }
  .MuiDrawer-paperAnchorDockedLeft {
    border: none;
  }
}
