.admin-sidebar {
  a {
    text-decoration: none;
  }

  .admin-sidebar__nav-item {
    transition: background 0ms linear;

    span:nth-child(1) {
      flex: 1;
    }

    span:nth-child(2) {
      flex: 6;
      color: map-get($map: $bg-color, $key: fade);
    }

    svg {
      color: map-get($map: $text-color, $key: light);
      height: 14px;
      // margin-right: 15px;
    }
    svg path {
      fill: map-get($map: $text-color, $key: light);
    }

    &.active-link {
      background-color: map-get($map: $bg-color, $key: 'accent');
      span {
        color: map-get($map: $text-color, $key: light);
      }
      svg path {
        fill: map-get($map: $text-color, $key: light);
      }
    }

    &:hover {
      //background-color: map-get($map: $bg-color, $key: 'accent');
    }
  }
}
