.info-area {
  padding: 0 15px;

  & ul {
    li {
      padding: 5px 5px 5px 15px;
      list-style-type: none;
      border-bottom: 1px solid #f5f4f4;
      border-left: 4px solid #ff7322;
      margin-bottom: 10px;
    }
  }
}
.info-area__imgwider {
  text-align: center;
  & img {
    width: 80%;
  }
}
