.info-area {
  padding: 0 15px;
  @media (max-width: 767px) {
    padding: 0px;
  }

  & ul {
    @media (max-width: 767px) {
      padding: 5px;
    }
    li {
      padding: 5px 5px 5px 15px;
      list-style-type: none;
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;
      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 10px;
        background: map-get($map: $text-color, $key: accent);
        height: 10px;
        width: 10px;
        border-radius: 5px;
      }
    }
  }
  & .info-area__heading {
    background: map-get($map: $text-color, $key: accent);
    margin-left: -1rem;
    padding: 10px 30px 10px 30px;
    display: inline-flex;
    padding-right: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
  & .info-area__head {
    padding-left: 25px;
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
  & .info-area__subhead {
    padding-left: 25px;
  }
}
.info-area__imgwider {
  text-align: center;
  & img {
    margin-top: 30px;
    @media (max-width: 767px) {
      width: 90%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
    }
  }
}

.home-modal__footer {
  justify-content: flex-end;
  margin-bottom: 0.9375rem;
  padding: 15px 15px 0 15px;
  border-top: 1px solid map-get($map: $text-color, $key: border);
}

.carousel__slide.carousel__slide--visible {
  padding-bottom: 0px;
}
// .carousel__slider--horizontal {
//   height: 85vh;
// }
.carousel {
  position: relative;
}
.slide-navigation {
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}
// .nav_button {
//   width: 10px;
//   height: 12px;
//   background: #999;
//   border-radius: 50%;
//   overflow: hidden;
//   margin: 2px;
//   border: 0px;
// }

// .nav_button[disabled] {
//   opacity: 0.6;
// }

// .swiper-wrapper {
//   background-color: #dfdfdf;
// }

.swiper-slide {
  align-self: center;
}

.dot-group {
  // position: absolute;
  // bottom: 90px;
  // left: 50%;
  // transform: translateX(-50%);

  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}

.carousel__dot {
  width: 10px;
  height: 12px;
  background: #999;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  border: 0px;
}

.carousel__dot--selected {
  opacity: 0.6;
}

.wid100 {
  width: 100%;
}
