.applied-filters {
  display: flex;
  align-items: center;
  .applied-filters__scroll-wrapper {
    height: 2.8125rem; //45px
    flex: 1;
  }
  .applied-filters__filter-wrapper {
    display: flex;
  }
  .applied-filters__info-chip {
    margin-bottom: 15px;
    border: 1.5px solid map-get($map: $text-color, $key: accent);
    color: map-get($map: $text-color, $key: accent);
  }
  .applied-filters__filter-chip {
    background-color: map-get($map: $bg-color, $key: primary);
    height: fit-content;
    padding: 2px;
  }
  .no-selection-text {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: map-get($map: $text-size, $key: small);
    color: map-get($map: $text-color, $key: fade);
    margin-left: 25px;
  }
}
