.applied-filters {
  display: flex;
  // align-items: center;
  padding: 10px 10px 0 10px;

  &--wrapper {
    position: relative;
  }

  &--icon {
    position: absolute;
    top: -11px;
    right: -6px;
    width: 15px;
    height: 15px;
    // color: #f1ad0f;
    color: map-get($map: $text-color, $key: accent);
  }
  .applied-filters__scroll-wrapper {
    height: 45px; //45px
    flex: 1;
  }
  .applied-filters__filter-wrapper {
    display: flex;
  }
  .applied-filters__info-chip {
    margin-bottom: 5px;
    border: 1.5px solid map-get($map: $text-color, $key: accent);
    color: map-get($map: $text-color, $key: accent);
    .MuiChip-deleteIcon :hover {
      color: $white !important;
    }
  }
  .applied-filters__filter-chip {
    background-color: $box-color;
    height: fit-content;
    padding: 2px;
    color: $filter-text-color;
  }
  .no-selection-text {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: map-get($map: $text-size, $key: small);
    color: $filter-text-color;
    margin-left: 25px;
  }
}
